[user]
	name = fz0x1
	email = umka@posteo.net
	signingkey = 979143DA930C3525556DBF7E7FB357158731DF87
[core]
	excludesfile = "$HOME/.gitignore"
	pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[init]
	defaultBranch = master
[commit]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
	useHttpPath = true
